@import "../abstracts/variables";
@import "../abstracts/mixins";

.nav {
  & > p {
    font-family: "Pacifico", sans-serif;
    font-size: 2.1rem;
  }
  &__items > p {
    font-size: 1.4rem;
    transition: all ease-in 0.1s;
    white-space: nowrap;
    &:hover {
      color: #0a144e;
      font-weight: 500;
      cursor: pointer;
      transform: translateY(-0.1rem);
    }
  }
}
